/* variable */
:root{
    --fondoBody:#ced6f0;
    /* colores componente 1 */
    --fondoSecciones:#ffffff;
    --h1colors1:#1e295d;
    --fondoIcono:#4169e2;
    --h2colors1:#8e94ad;
    --pcolors1:#aaaaaa;
    /* colores componente 2 */
}