/* imports */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
/* selector universal */
*{
    margin: 0;
    padding: 0;
}
/* variables */
:root{
    --fuentePagina:"Hind Siliguri", sans-serif;
    --fondoBody:#ced6f0;
    /* colores componente 1 */
    --fondoSecciones:#ffffff;
    --supcolor:#768dcd;
    --h1colors1:#1e295d;
    --fondoIcono:#4169e2;
    --h2colors1:#8e94ad;
    --pcolors1:#aaaaaa;
    /* colores componente 2 */
}

body{
    background-color: var(--fondoBody);
    font-family: var(--fuentePagina);
}
.viajes{
    
    background-color: var(--fondoSecciones);
    margin: 5% 20%;
    border: black 40px ;
    border-radius: 10deg;
    
}

.viajes sup{
    color:var(--supcolor) ;
}
.viajes h1{
    color: var(--h1colors1);
}
.encabezado1{
    text-align: center;
    padding: 5% 5%;
}
.cuerpo1 ul{
    display: flex;
    padding: 1% 5%;
    flex-grow: 1;
    list-style-type: none;
}

.cuerpo1 i{
    background-color:var(--fondoIcono);
    border-radius: 100%;
    color:white;
    
}
.cuerpo1 h2{
    color: var(--h2colors1);
}
.cuerpo1 p{
    color: var(--pcolors1);
}
